body{
    text-align:center;
}

h1{
    color:aliceblue;
}
header{
    background-color: black;
    height: 100px;
    padding:20px
}
ul li{
    display:inline;
    color:rgb(10, 218, 250);
    padding:20px;
}
ul li a{
    color:rgb(10, 218, 250);
    text-decoration:none ;
}
#home img{
    height:20%;
    width:20%;
    border-radius:50%;
}
#portfolio {
    background-color: rgba(232, 72, 224, 0.777);
}
#skills ul li {
color: rgb(214, 23, 109);
}
footer p{
background-color: darkgray;
height:40px;
}